/*
Color palete: https://colorhunt.co/palette/000b58003161006a67fff4b7
*/

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

